adjustText==1.3.0
agate==1.9.1
anyio==4.12.1
appdirs==1.4.4
asn1crypto==1.5.1
atomicwrites==1.4.0
boto3==1.42.52
botocore==1.42.52
certifi==2025.1.31
cffi==2.0.0
click==8.3.1
colorlover==0.3.0
cryptography==46.0.5
cufflinks==0.17.3
curl_cffi==0.13.0
daff==1.4.2
deepdiff==8.6.1
deprecation==2.1.0
distlib==0.4.0
docker==7.1.0
dotenv==0.9.9
Faker==40.5.1
fastapi==0.115.0
filelock==3.20.3
google-api-core==2.29.0
google-api-python-client==2.188.0
google-auth==2.49.0.dev0
google-auth-httplib2==0.3.0
google-genai==1.61.0
google-generativeai==0.8.6
googleapis-common-protos==1.72.0
grpcio==1.76.0
grpcio-status==1.71.2
httplib2==0.31.2
httptools==0.7.1
httpx==0.28.1
isodate==0.7.2
isoduration==20.11.0
Jinja2==3.1.6
jiter==0.12.0
json5==0.12.1
jsonpointer==2.1
lean==1.0.221
leather==0.4.1
mashumaro==3.14
multitasking==0.0.12
openai==2.16.0
orderly-set==5.5.0
parsedatetime==2.6
peewee==3.18.2
pipenv==2026.0.3
psycopg2-binary==2.9.11
py4j==0.10.9.9
pyasn1-modules==0.2.8
pydantic==2.9.0
pydantic_core==2.23.2
PyJWT==2.11.0
pyls-spyder==0.4.0
pyOpenSSL==25.3.0
pyparsing==3.3.2
pypdf==4.3.1
pyspark==4.1.1
python-docx==1.1.2
python-multipart==0.0.12
pytimeparse==1.1.8
Quandl==3.7.0
quantconnect-stubs==17320
requests==2.32.5
s3transfer==0.16.0
scikit-learn==1.8.0
setuptools==80.9.0
snowflake-connector-python==4.3.0
snowplow-tracker==1.1.0
SQLAlchemy==2.0.35
sqlparse==0.5.4
starlette==0.38.6
tenacity==9.1.2
threadpoolctl==3.6.0
typing-inspection==0.4.2
typing_extensions==4.15.0
uri-template==1.3.0
uritemplate==4.2.0
urllib3==1.26.20
uv==0.10.3
uvicorn==0.30.0
uvloop==0.22.1
virtualenv==20.36.1
watchfiles==1.1.1
webcolors==24.11.1
websockets==13.0.0
wheel==0.43.0
yfinance==0.2.66
